@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto+Condensed&display=swap');

body {
  background: #f1f6f9;
  color: #394867;
  font-family: 'Montserrat', sans-serif;
  font-size: 300;
  line-height: 1,2;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
}


h1, h2, h3 {
  font-family:'Roboto', sans-serif;
}

h1 {
  color: #14274e;
  font-size: 40px;
  font-weight: 700;
  line-height: 1,7;
}

h2 {
  color: #790c5a;
  font-weight: 600;
  font-size: 25px;
  line-height: 1,2;
}

h3 {
  color: #9ba4b4;

}

a {
  text-decoration: none;
  color: #2d6187;
}

.card {
  background-color: white;
  text-align: center;
  padding: 10px;
  margin: 20px auto;
  border-radius: 3px;
  box-shadow: 1px 2px 5px #9ba4b4;
}

.img-circle {
  border-radius: 50%;
  width: 100px;
}

.btn {
  display: inline-block;
  background-color: rgb(45, 97, 135);
  color: white;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}

.btn:hover {
  background-color: #9ba4b4;
}


ul {
  display: block;
  text-align: center;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 10px;
}

.list-inline {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.fab {
  font-size: 50px;
}

.fab:hover {
  color: #9ba4b4;
}


@media (max-width: 960px) {
  .card {
    width: 700px;
  }
}
@media (max-width: 720px) {
  .card  {
    width: 500px;
  }
}
@media (max-width: 540px) {
  .card  {
    width: 300px;
  }
}


